body{
    background: linear-gradient(maroon, red)
}
.main1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

div .container{
    border: solid 15px gray;
    height: 270px;
    width: 270px;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}

